/*
Copyright (c) 2003-2018, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.md or https://ckeditor.com/legal/ckeditor-oss-license
*/

@font-face {
    font-family: 'Open Sans';
    src: url('../../font/OpenSans-Light.eot');
    src: local('Open Sans Light'), local('OpenSans-Light'),
        url('../../font/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../../font/OpenSans-Light.woff2') format('woff2'),
        url('../../font/OpenSans-Light.woff') format('woff'),
        url('../../font/OpenSans-Light.ttf') format('truetype'),
        url('../../font/OpenSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../font/OpenSans-Bold.eot');
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
        url('../../font/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../font/OpenSans-Bold.woff2') format('woff2'),
        url('../../font/OpenSans-Bold.woff') format('woff'),
        url('../../font/OpenSans-Bold.ttf') format('truetype'),
        url('../../font/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../font/OpenSans-Regular.eot');
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('../../font/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../font/OpenSans-Regular.woff2') format('woff2'),
        url('../../font/OpenSans-Regular.woff') format('woff'),
        url('../../font/OpenSans-Regular.ttf') format('truetype'),
        url('../../font/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../font/OpenSans-LightItalic.eot');
    src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'),
        url('../../font/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../../font/OpenSans-LightItalic.woff2') format('woff2'),
        url('../../font/OpenSans-LightItalic.woff') format('woff'),
        url('../../font/OpenSans-LightItalic.ttf') format('truetype'),
        url('../../font/OpenSans-LightItalic.svg#OpenSans-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../font/OpenSans-BoldItalic.eot');
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
        url('../../font/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../font/OpenSans-BoldItalic.woff2') format('woff2'),
        url('../../font/OpenSans-BoldItalic.woff') format('woff'),
        url('../../font/OpenSans-BoldItalic.ttf') format('truetype'),
        url('../../font/OpenSans-BoldItalic.svg#OpenSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../font/OpenSans-ExtraBold.eot');
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
        url('../../font/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../../font/OpenSans-ExtraBold.woff2') format('woff2'),
        url('../../font/OpenSans-ExtraBold.woff') format('woff'),
        url('../../font/OpenSans-ExtraBold.ttf') format('truetype'),
        url('../../font/OpenSans-ExtraBold.svg#OpenSans-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../font/OpenSans-SemiBoldItalic.eot');
    src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
        url('../../font/OpenSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../font/OpenSans-SemiBoldItalic.woff2') format('woff2'),
        url('../../font/OpenSans-SemiBoldItalic.woff') format('woff'),
        url('../../font/OpenSans-SemiBoldItalic.ttf') format('truetype'),
        url('../../font/OpenSans-SemiBoldItalic.svg#OpenSans-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../font/OpenSans-Italic.eot');
    src: local('Open Sans Italic'), local('OpenSans-Italic'),
        url('../../font/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('../../font/OpenSans-Italic.woff2') format('woff2'),
        url('../../font/OpenSans-Italic.woff') format('woff'),
        url('../../font/OpenSans-Italic.ttf') format('truetype'),
        url('../../font/OpenSans-Italic.svg#OpenSans-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../font/OpenSans-ExtraBoldItalic.eot');
    src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'),
        url('../../font/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../font/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
        url('../../font/OpenSans-ExtraBoldItalic.woff') format('woff'),
        url('../../font/OpenSans-ExtraBoldItalic.ttf') format('truetype'),
        url('../../font/OpenSans-ExtraBoldItalic.svg#OpenSans-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../font/OpenSans-SemiBold.eot');
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
        url('../../font/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../../font/OpenSans-SemiBold.woff2') format('woff2'),
        url('../../font/OpenSans-SemiBold.woff') format('woff'),
        url('../../font/OpenSans-SemiBold.ttf') format('truetype'),
        url('../../font/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

body
{
	/* Font */
	font-family: 'Open Sans',sans-serif;
	font-size: 16px;

	/* Text color */
	color: #272a2f;

	/* Remove the background color to make it transparent */
	background-color: #fff;

	margin: 20px;
}

.cke_editable
{
	font-size: 16px;
	line-height: normal;

	/* Fix for missing scrollbars with RTL texts. (#10488) */
	word-wrap: break-word;
}

blockquote
{
	font-style: italic;
	font-family: 'Open Sans',sans-serif;
	padding: 2px 0;
	border-style: solid;
	border-color: #f2f2f2;
	border-width: 0;
}

.cke_contents_ltr blockquote
{
	padding-left: 20px;
	padding-right: 8px;
	border-left-width: 5px;
}

.cke_contents_rtl blockquote
{
	padding-left: 8px;
	padding-right: 20px;
	border-right-width: 5px;
}

a
{
	color: #3bb44a;text-decoration:none;
}
a
{
	color: #3bb44a;text-decoration:underline;
}

ol,ul,dl
{
	/* IE7: reset rtl list margin. (#7334) */
	*margin-right: 0px;
	/* preserved spaces for list items with text direction other than the list. (#6249,#8049)*/
	padding: 0 40px;
}

h1,h2,h3,h4,h5,h6
{
	font-weight: normal;
	line-height: 1.2;
}

hr
{
	border: 0px;
	border-top: 1px solid #ccc;
}

img.right
{
	border: 1px solid #ccc;
	float: right;
	margin-left: 15px;
	padding: 5px;
}

img.left
{
	border: 1px solid #ccc;
	float: left;
	margin-right: 15px;
	padding: 5px;
}

pre
{
	white-space: pre-wrap; /* CSS 2.1 */
	word-wrap: break-word; /* IE7 */
	-moz-tab-size: 4;
	tab-size: 4;
}

.marker
{
	background-color: Yellow;
}

span[lang]
{
	font-style: italic;
}

figure
{
	text-align: center;
	outline: solid 1px #ccc;
	background: rgba(0,0,0,0.05);
	padding: 10px;
	margin: 10px 20px;
	display: inline-block;
}

figure > figcaption
{
	text-align: center;
	display: block; /* For IE8 */
}

a > img {
	padding: 1px;
	margin: 1px;
	border: none;
	outline: 1px solid #0782C1;
}

/* Widget Styles */
.code-featured
{
	border: 5px solid red;
}

.math-featured
{
	padding: 20px;
	box-shadow: 0 0 2px rgba(200, 0, 0, 1);
	background-color: rgba(255, 0, 0, 0.05);
	margin: 10px;
}

.image-clean
{
	border: 0;
	background: none;
	padding: 0;
}

.image-clean > figcaption
{
	font-size: .9em;
	text-align: right;
}

.image-grayscale
{
	background-color: white;
	color: #666;
}

.image-grayscale img, img.image-grayscale
{
	filter: grayscale(100%);
}

.embed-240p
{
	max-width: 426px;
	max-height: 240px;
	margin:0 auto;
}

.embed-360p
{
	max-width: 640px;
	max-height: 360px;
	margin:0 auto;
}

.embed-480p
{
	max-width: 854px;
	max-height: 480px;
	margin:0 auto;
}

.embed-720p
{
	max-width: 1280px;
	max-height: 720px;
	margin:0 auto;
}

.embed-1080p
{
	max-width: 1920px;
	max-height: 1080px;
	margin:0 auto;
}
