.bs-accordion .panel-heading {
  padding: 0;
}

.bs-accordion .panel-heading a[aria-expanded=true] .glyphicon.glyphicon-chevron-right {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  transition: -webkit-transform 350ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 350ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 350ms cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 350ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.bs-accordion .panel-heading a .glyphicon.glyphicon-chevron-right {
  transition: -webkit-transform 350ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 350ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 350ms cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 350ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 1px solid #ddd;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #ddd;
}

.glyphicon-chevron-right:before {
    content: " \276F";
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
}
.panel-default {
    border-color: #ddd;
}
.panel {
    /*background-color: #fff;*/
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
article a:hover.nav-link.collapsed{color: #3bb44a !important;background-color:#fff;}
article .nav-link  {color: #3bb44a;background-color:#fff;}
article .nav-link.collapsed {color: #8d8d8d; background-color:#fff;}
.bs-accordion .panel-heading a {
    display: block;
    padding: 5px 0px;
}
.panel-group .panel {
    margin-bottom: 10px;
    border-radius: 4px;
}
.panel-default {
    border-color: #ddd;
    background-color:#fff;
    padding: 0px 10px 5px 10px;
}
main{margin-top: 20px;}
.panel-heading .nav-link {
    font-size: 24px;
    line-height: normal;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}



