@media print {
	@page {
		size: auto;
		margin: 0;
	}

    .print-header img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: 60px;
    }

    .print-header span {
        color: #262626;
        font-size: 36px;
        line-height: 1.4;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
    }

    .widget-app-container{
        display: none !important;
    }

    .orgRankingSlick {
        margin-left: 30% !important;
    }

	aside#sidebar,header[role="banner"],footer,#comments,#respond {
		display: none;
	}
	#container #content #main {
		width: 90%;
		margin: 0px;
		padding: 0px;
	}
	a::after {
	/ content: "( "attr(href)" )"; /
	}

	body {
		background: #fff;
		font-family: 'Open Sans',sans-serif;
		overflow: auto;
		margin:15px;
		padding:15px;
	}

	.noPrint {
		display: none !important;
	}

	.offcanvas-menu,
	.row-header,
	.row-header-mobile,
	.row-footer,
	.wrapper-impact a.print, .page-header {
		display: none !important;
	}

	.wrapper_bottom_footer > .row-header, .wrapper_bottom_footer > .row-header,
	.wrapper_bottom_footer > .row-header, .wrapper_bottom_footer > .row-header-mobile,
	.wrapper_bottom_footer > .row-header, .wrapper_bottom_footer > .row-footer{display:none !important;}

	.wrapper_bottom_footer{display:block !important;height:auto !important;}

	.wrapper_bottom_footer > .row-content, .print-header{display:block !important;}

	.pie-chart-print span::before {
		content: "\A";
		white-space: pre;
	}

    .pie-charts {
        white-space: pre-line;
    }


	.container{max-width:100% !important;height:auto;}

	.wrapper-impact{margin:0 !important;padding:0 !important;}

	.wrapper-impact .wrapper-svg{min-width:290px;max-width:90%;height:auto;margin:0 auto;}
	.wrapper-impact .wrapper-svg::after{display:block;clear:both;content: "";}


	.top-profile-info,
	.report_typescript,
	.profile_tab{display:none !important;}

	.voluntier_info{
		display: block !important;
	}
	.filter_div{
		display: none !important;
	}

	#filter_controller{
		display: none !important;
	}
	.wrapper_row_link,#fc_frame,#freshwidget-button{display:none !important;}
	#print_logo{
		display: block !important;
	}

	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
		float: left;
	}
	.col-sm-12 {
		width: 100%;
	}
	.col-sm-11 {
		width: 91.66666667%;
	}
	.col-sm-10 {
		width: 83.33333333%;
	}
	.col-sm-9 {
		width: 75%;
	}
	.col-sm-8 {
		width: 66.66666667%;
	}
	.col-sm-7 {
		width: 58.33333333%;
	}
	.col-sm-6 {
		width: 50%;
	}
	.col-sm-5 {
		width: 41.66666667%;
	}
	.col-sm-4 {
		width: 33.33333333%;
	}
	.col-sm-3 {
		width: 25%;
	}
	.col-sm-2 {
		width: 16.66666667%;
	}
	.col-sm-1 {
		width: 8.33333333%;
	}
	.col-sm-pull-12 {
		right: 100%;
	}
	.col-sm-pull-11 {
		right: 91.66666667%;
	}
	.col-sm-pull-10 {
		right: 83.33333333%;
	}
	.col-sm-pull-9 {
		right: 75%;
	}
	.col-sm-pull-8 {
		right: 66.66666667%;
	}
	.col-sm-pull-7 {
		right: 58.33333333%;
	}
	.col-sm-pull-6 {
		right: 50%;
	}
	.col-sm-pull-5 {
		right: 41.66666667%;
	}
	.col-sm-pull-4 {
		right: 33.33333333%;
	}
	.col-sm-pull-3 {
		right: 25%;
	}
	.col-sm-pull-2 {
		right: 16.66666667%;
	}
	.col-sm-pull-1 {
		right: 8.33333333%;
	}
	.col-sm-pull-0 {
		right: auto;
	}
	.col-sm-push-12 {
		left: 100%;
	}
	.col-sm-push-11 {
		left: 91.66666667%;
	}
	.col-sm-push-10 {
		left: 83.33333333%;
	}
	.col-sm-push-9 {
		left: 75%;
	}
	.col-sm-push-8 {
		left: 66.66666667%;
	}
	.col-sm-push-7 {
		left: 58.33333333%;
	}
	.col-sm-push-6 {
		left: 50%;
	}
	.col-sm-push-5 {
		left: 41.66666667%;
	}
	.col-sm-push-4 {
		left: 33.33333333%;
	}
	.col-sm-push-3 {
		left: 25%;
	}
	.col-sm-push-2 {
		left: 16.66666667%;
	}
	.col-sm-push-1 {
		left: 8.33333333%;
	}
	.col-sm-push-0 {
		left: auto;
	}
	.col-sm-offset-12 {
		margin-left: 100%;
	}
	.col-sm-offset-11 {
		margin-left: 91.66666667%;
	}
	.col-sm-offset-10 {
		margin-left: 83.33333333%;
	}
	.col-sm-offset-9 {
		margin-left: 75%;
	}
	.col-sm-offset-8 {
		margin-left: 66.66666667%;
	}
	.col-sm-offset-7 {
		margin-left: 58.33333333%;
	}
	.col-sm-offset-6 {
		margin-left: 50%;
	}
	.col-sm-offset-5 {
		margin-left: 41.66666667%;
	}
	.col-sm-offset-4 {
		margin-left: 33.33333333%;
	}
	.col-sm-offset-3 {
		margin-left: 25%;
	}
	.col-sm-offset-2 {
		margin-left: 16.66666667%;
	}
	.col-sm-offset-1 {
		margin-left: 8.33333333%;
	}
	.col-sm-offset-0 {
		margin-left: 0%;
	}
	.visible-xs {
		display: none !important;
	}
	.hidden-xs {
		display: block !important;
	}
	table.hidden-xs {
		display: table;
	}
	tr.hidden-xs {
		display: table-row !important;
	}
	th.hidden-xs,
	td.hidden-xs {
		display: table-cell !important;
	}
	.hidden-xs.hidden-print {
		display: none !important;
	}
	.hidden-sm {
		display: none !important;
	}
	.visible-sm {
		display: block !important;
	}
	table.visible-sm {
		display: table;
	}
	tr.visible-sm {
		display: table-row !important;
	}
	th.visible-sm,
	td.visible-sm {
		display: table-cell !important;
	}
        .search-friends, .btn-success, #tbl_org_tracking_hrs .text-center.nosort {display : none !important;}
}