 .wrapper-sort-table .table tr td:first-child {
        white-space: normal !important;
        word-wrap: break-word !important;
        max-width: 550px;
    }

    @media screen and (max-width: 524px){
        .wrapper-sort-table .table tr td:first-child{
            width: 100%;
            white-space: nowrap !important;
            word-wrap: normal !important;
            max-width: 100%;
        }
    }

    .alpha{
        font-family:'Open Sans',sans-serif;
        color:green;
        text-transform:uppercase;
        background:#fff;
        border-radius:20px;
        font-size: 14px;
    }

    a {
        text-decoration: none !important;
    }

    .pagination .flex-wrap .justify-content-center {
        margin: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        padding: 0;
    }

    .footable-page-arrow, .footable-page{
        display: list-item;
        text-align: -webkit-match-parent;
    }

    .footable-page-arrow a, .footable-page a {
        position: relative;
        display: block;
        padding: 10px;
        margin: 10px 5px;
        font-size: 16px;
        line-height: 20px;
        font-family: 'Open Sans', sans-serif;
        color: #5f5f5f;
        background: none;
        border: 0 none;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        text-decoration: none;
        cursor: auto;
        outline: none;
        z-index: auto;
    }

    .footable-page-arrow a:hover, .footable-page a:hover {
        z-index: auto;
        color: #fff;
        text-decoration: none;
        background-color: #38b348;
        border: 0 none;
    }

    .footable-page-arrow a[data-page=prev], .footable-page-arrow a[data-page=next], .footable-page-arrow.disabled {
        display: none;
    }

    #first_name, #last_name{
        background-color:#D3D3D3;

    }


    .footable-page-arrow a[data-page=prev], .footable-page-arrow a[data-page=next], .footable-page-arrow.disabled{
        display: none;
    }

    .footable-page.active a{
        z-index: auto;
        color: #fff;
        text-decoration: none;
        background-color: #38b348;
        border: 0 none;
    }

    .org_logo{
        height: 120px;
        width: 120px;
        float: left;
    }

    .org_info{
        padding-left: 15px;
        padding-top: 15px;
        display: inline-block;
        clear: both;
    }

    .org_info image{
        display: inline-block;
    }

    .org_info label{
        display: block;
    }

    .org_info_addr{
        margin-left: 15px;
        padding: 15px;
        float: right;
        clear: right;
    }
    .org_info_addr label{
        display: block;
    }

   

    .text-overflow {
        width:auto;
        height:120px;
        display:block;
        overflow:hidden;
        word-break: break-word;
        word-wrap: break-word;
    }

    .btn-overflow {
        display: none;
        text-decoration: none;
    }


    label.cabinet{
        display: block;
        cursor: pointer;
    }

    label.cabinet input.file{
        position: relative;
        height: 100%;
        width: auto;
        opacity: 0;
        -moz-opacity: 0;
        filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
        margin-top:-30px;
    }

    .hoursSpan{float:right;}
    .astriskCol{color:red;}